
.drawer {
  //height: var(--drawer-height);
  //position: absolute;
  //left: 0;
  //bottom: var(--drawer-bottom-position);
  //z-index: 100;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  width: 100%;
  transition: height 0.5s ease-in-out;
}

.drawer-header {
  height: 40px;
  width: 100%;
  background-color: yellow;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.drawer-body {
}