.App {
  text-align: center;
  position: relative;
  overflow-y: hidden;
  height: 100%;
}

.app-header {
  background-color: #282c34;
  height: 40px;
  border-bottom: 1px solid #61dafb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  p {
    margin: 0;
    padding: 0;
  }
}
